
Client/Assembly-CSharp.csproj
Client/Client.sln.DotSettings.user
# exclude everything
Client/Library/*
Client/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
# exclude everything
Client/Temp/*
C#/C#/.vs/SignalRChat/v14/.suo
C#/C#/SignalRChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-wal
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-shm
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/db.lock
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/vcs.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/Library/assetDatabase3
Client/Library/CrashedAssetImports.txt
Client/Library/InspectorExpandedItems.asset
Client/Library/metadata/3c/3c2ff27bbf5bc2d459428f423d948f12
Client/Library/metadata/3c/3c2ff27bbf5bc2d459428f423d948f12.info
Client/Library/metadata/45/45c3ea78cabfad2438628a9def8c4901
Client/Library/metadata/45/45c3ea78cabfad2438628a9def8c4901.info
Client/Library/metadata/6f/6f7cca39df9f40e49a8c543ac7ee9a10
Client/Library/metadata/6f/6f7cca39df9f40e49a8c543ac7ee9a10.info
Client/Library/metadata/98/98753a42e56c6b7478404ab1811e6a79
Client/Library/metadata/98/98753a42e56c6b7478404ab1811e6a79.info
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/ba/baeb6f6b593fc81478f3852291beb77c
Client/Library/metadata/ba/baeb6f6b593fc81478f3852291beb77c.info
Client/Library/metadata/c7/c7a87f726c24fcb46814b847f527e854
Client/Library/metadata/c7/c7a87f726c24fcb46814b847f527e854.info
Client/Library/metadata/cb/cb624cb16757cbf45a9dd65e0f7afdb6
Client/Library/metadata/cb/cb624cb16757cbf45a9dd65e0f7afdb6.info
Client/Library/metadata/f1/f169da517200bb646a6d90f3746f551e
Client/Library/metadata/f1/f169da517200bb646a6d90f3746f551e.info
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Temp/UnityTempFile-87ac442b5c02b0b4fa8bcf3e2a361510
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/Client.sln.DotSettings.user
Client/Library/assetDatabase3
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/assetDatabase3
Client/Library/metadata/20/2081f5a3107bb1d4398a6e2abdcfd09d
Client/Library/metadata/44/44025bf20dd077248a0394496aab312a
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/e3/e3f79a83b7505cd4d84388e5a5e62bad
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Client/.vs/Client/v15/
Client/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/obj/Debug/
C#/C#/.idea/.idea.SignalRChat/.idea/workspace.xml
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/Library/assetDatabase3
Client/Library/InspectorExpandedItems.asset
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/assetDatabase3
Client/Library/InspectorExpandedItems.asset
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
C#/C#/.idea/.idea.SignalRChat/.idea/workspace.xml
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
C#/C#/.idea/.idea.SignalRChat/.idea/workspace.xml
C#/C#/SignalRChat.sln.DotSettings.user
C#/C#/SignalRChat/bin/SignalRChat.dll
C#/C#/SignalRChat/bin/SignalRChat.pdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PerformanceReportingModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PerformanceReportingModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticleSystemModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticleSystemModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticlesLegacyModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.JSONSerializeModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.JSONSerializeModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.InputModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.InputModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.IMGUIModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.IMGUIModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ImageConversionModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ImageConversionModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GridModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GridModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GameCenterModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GameCenterModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.DirectorModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.DirectorModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CrashReportingModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CrashReportingModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CoreModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CoreModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ClothModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ClothModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AudioModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AudioModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AssetBundleModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AssetBundleModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ARModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ARModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AnimationModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AnimationModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AIModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AIModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AccessibilityModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AccessibilityModule.dll
Client/Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll
Client/Library/PlayerDataCache/Data/level0
Client/Library/PlayerDataCache/Data/globalgamemanagers.assets
Client/Library/PlayerDataCache/Data/globalgamemanagers
Client/Library/PlayerDataCache/Data/boot.config
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/44/44025bf20dd077248a0394496aab312a
Client/Library/metadata/00/00000000000000006100000000000000
Client/Library/LastBuild.buildreport
Client/Library/EditorUserBuildSettings.asset
Client/Library/AssetImportState
Client/Library/assetDatabase3
Client/ProjectSettings/GraphicsSettings.asset
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/PlayerDataCache/ScriptLayoutHashes.txt
Client/Library/PlayerDataCache/Data/sharedassets0.assets
Client/Library/PlayerDataCache/Data/Resources/unity_builtin_extra
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.WindModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.WindModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.WebModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.WebModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VRModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VRModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VideoModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VideoModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VehiclesModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.VehiclesModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestTextureModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityWebRequestAudioModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityConnectModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityConnectModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityAnalyticsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UnityAnalyticsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UNETModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UNETModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UIModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UIModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UIElementsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.UIElementsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TilemapModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TilemapModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TextRenderingModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TextRenderingModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TerrainPhysicsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TerrainPhysicsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TerrainModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.TerrainModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.StyleSheetsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.StyleSheetsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SpriteShapeModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SpriteShapeModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SpriteMaskModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SpriteMaskModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SharedInternalsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.SharedInternalsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ScreenCaptureModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ScreenCaptureModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PhysicsModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PhysicsModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.Physics2DModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.Physics2DModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PerformanceReportingModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.PerformanceReportingModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticleSystemModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticleSystemModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticlesLegacyModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ParticlesLegacyModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.JSONSerializeModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.JSONSerializeModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.InputModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.InputModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.IMGUIModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.IMGUIModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ImageConversionModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ImageConversionModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GridModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GridModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GameCenterModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.GameCenterModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.DirectorModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.DirectorModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CrashReportingModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CrashReportingModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CoreModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.CoreModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ClothModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ClothModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AudioModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AudioModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AssetBundleModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AssetBundleModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ARModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.ARModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AnimationModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AnimationModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AIModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AIModule.dll
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AccessibilityModule.dll.mdb
Client/Library/PlayerDataCache/Data/Managed/UnityEngine.AccessibilityModule.dll
Client/Library/PlayerDataCache/Data/Managed/Assembly-CSharp.dll
Client/Library/PlayerDataCache/Data/level0
Client/Library/PlayerDataCache/Data/globalgamemanagers.assets
Client/Library/PlayerDataCache/Data/globalgamemanagers
Client/Library/PlayerDataCache/Data/boot.config
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/44/44025bf20dd077248a0394496aab312a
Client/Library/metadata/00/00000000000000006100000000000000
Client/Library/LastBuild.buildreport
Client/Library/EditorUserBuildSettings.asset
Client/Library/AssetImportState
Client/Library/assetDatabase3
