
Client/Assembly-CSharp.csproj
Client/Client.sln.DotSettings.user
# exclude everything
Client/Library/*
Client/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
# exclude everything
Client/Temp/*
C#/C#/.vs/SignalRChat/v14/.suo
C#/C#/SignalRChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-wal
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-shm
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/db.lock
