
Client/Assembly-CSharp.csproj
Client/Client.sln.DotSettings.user
# exclude everything
Client/Library/*
Client/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
# exclude everything
Client/Temp/*
C#/C#/.vs/SignalRChat/v14/.suo
C#/C#/SignalRChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-wal
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide-shm
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/storage.ide
C#/C#/.vs/SignalRChat/v15/Server/sqlite3/db.lock
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/vcs.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/Library/assetDatabase3
Client/Library/CrashedAssetImports.txt
Client/Library/InspectorExpandedItems.asset
Client/Library/metadata/3c/3c2ff27bbf5bc2d459428f423d948f12
Client/Library/metadata/3c/3c2ff27bbf5bc2d459428f423d948f12.info
Client/Library/metadata/45/45c3ea78cabfad2438628a9def8c4901
Client/Library/metadata/45/45c3ea78cabfad2438628a9def8c4901.info
Client/Library/metadata/6f/6f7cca39df9f40e49a8c543ac7ee9a10
Client/Library/metadata/6f/6f7cca39df9f40e49a8c543ac7ee9a10.info
Client/Library/metadata/98/98753a42e56c6b7478404ab1811e6a79
Client/Library/metadata/98/98753a42e56c6b7478404ab1811e6a79.info
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/ba/baeb6f6b593fc81478f3852291beb77c
Client/Library/metadata/ba/baeb6f6b593fc81478f3852291beb77c.info
Client/Library/metadata/c7/c7a87f726c24fcb46814b847f527e854
Client/Library/metadata/c7/c7a87f726c24fcb46814b847f527e854.info
Client/Library/metadata/cb/cb624cb16757cbf45a9dd65e0f7afdb6
Client/Library/metadata/cb/cb624cb16757cbf45a9dd65e0f7afdb6.info
Client/Library/metadata/f1/f169da517200bb646a6d90f3746f551e
Client/Library/metadata/f1/f169da517200bb646a6d90f3746f551e.info
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Temp/UnityTempFile-87ac442b5c02b0b4fa8bcf3e2a361510
Client/.idea/.idea.Client/.idea/contentModel.xml
Client/.idea/.idea.Client/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/Client.sln.DotSettings.user
Client/Library/assetDatabase3
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/assetDatabase3
Client/Library/metadata/20/2081f5a3107bb1d4398a6e2abdcfd09d
Client/Library/metadata/44/44025bf20dd077248a0394496aab312a
Client/Library/metadata/a1/a13b64f503b12e047a2a8efc3e8f89cb
Client/Library/metadata/e3/e3f79a83b7505cd4d84388e5a5e62bad
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Client/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Client/.vs/Client/v15/
Client/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Client/obj/Debug/
